body,html {
  font-family: Dangermode, Calibri, Arial;
  height:100%;
  background-image:linear-gradient(#fc2803, #00ccff);
}
h1 {
  text-align: center;
  font-family: candara, calibri, Arial;
}
#content {
  margin:auto;
  width: 500px;
  text-align: justify;
}
.segment{
  padding: 10px;
  border: 3px solid #000000;
  margin-bottom: 10px;
  /* Border-width: 1px;
 border-color: #00000;
 border-style: solid; */
border-style: dotted;
}
p{
  margin-top: 0px;
}
.segment img{"img/CR7.jfif" alt="">
  max-width: 250px;
  margin:0px 10px 10px 0px;
}
.segment .lefting {
  margin-right: 10px;
  float: left;
}
.segment .righting{
  margin-left: 10px;
  float: right;
}
#menu {
  border: 2px solid #000000;
  display: flex;
}

.menuItem {
  border: 2px solid #00000;
  background-color: #330033;
  color: #CC9999;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  font-weight:bold;
  transition-property: backgroun-color;
  trasition-duration: 1s;
}
.menuItem:hover {
 background-color: #00ccff;
}

a {
  color: #CC9999

}

@media screen and (max-width: 500px) {
  #openMenu {
    font-size: 1.5em;
    display: inline;
  }

  #closeMenu {
    display: block;
  }
  #menu {
    display: block;
    position:absolute;
    top: 0px;
    z-index: 99;
    width: 95%;
  left: 50%;
  transform: translate(-50%)
  }
}
